# Byte-compiled / optimized / DLLs
__pycache__/
*.py[cod]
*$py.class
migrations
migrations/


# Distribution / packaging
.egg-info/
.dist/
.build/
docs/_build/
note
note/
notes
notes/
wvenv
wvenv/
venv
venv/

# Local configuration
*.swp
.DS_Store
.idea